!.browserslistrc
!.eslintrc.json

/node_modules/

### IDEs ###
/nbproject/
.idea/
.vscode/*
.settings
.project
.buildpath

/html/*.php

.DS_Store
error_log
php-error.log
*.bak

*.zip
*.tar.*
*.tbz
*.tgz
*.txz
