@charset "UTF-8";

@use "sass:math";

@import "node_modules/bootstrap/scss/functions";

//==============================================================================
// CUSTOM VARS before bootstrap defaults
//==============================================================================
@import "p3-md-colors";
//------------------------------------------------------------------------------

$rtl: false !default;

// scss-docs-start caret-variables
$caret-width:                 .3125em !default;
$caret-vertical-align:        middle; //$caret-width * .85 !default;
$caret-spacing:               $caret-width * .85 !default;
// scss-docs-end caret-variables
//------------------------------------------------------------------------------
@import "p3-bs-variables";
//==============================================================================

//@import "node_modules/bootstrap/scss/variables";
//
//@import "node_modules/bootstrap/scss/maps";
//@import "node_modules/bootstrap/scss/mixins";
//@import "node_modules/bootstrap/scss/utilities";
//
//// Layout & components
//@import "node_modules/bootstrap/scss/root";
//@import "node_modules/bootstrap/scss/reboot";
//@import "node_modules/bootstrap/scss/type";
//@import "node_modules/bootstrap/scss/images";
//@import "node_modules/bootstrap/scss/containers";
//@import "node_modules/bootstrap/scss/grid";
//@import "node_modules/bootstrap/scss/tables";
//@import "node_modules/bootstrap/scss/forms";
//@import "node_modules/bootstrap/scss/buttons";
//@import "node_modules/bootstrap/scss/transitions";
//@import "node_modules/bootstrap/scss/dropdown";
//@import "node_modules/bootstrap/scss/button-group";
//@import "node_modules/bootstrap/scss/nav";
//@import "node_modules/bootstrap/scss/navbar";
//@import "node_modules/bootstrap/scss/card";
//@import "node_modules/bootstrap/scss/accordion";
//@import "node_modules/bootstrap/scss/breadcrumb";
//@import "node_modules/bootstrap/scss/pagination";
//@import "node_modules/bootstrap/scss/badge";
//@import "node_modules/bootstrap/scss/alert";
//@import "node_modules/bootstrap/scss/progress";
//@import "node_modules/bootstrap/scss/list-group";
//@import "node_modules/bootstrap/scss/close";
//@import "node_modules/bootstrap/scss/toasts";
//@import "node_modules/bootstrap/scss/modal";
//@import "node_modules/bootstrap/scss/tooltip";
//@import "node_modules/bootstrap/scss/popover";
//@import "node_modules/bootstrap/scss/carousel";
//@import "node_modules/bootstrap/scss/spinners";
//@import "node_modules/bootstrap/scss/offcanvas";
//@import "node_modules/bootstrap/scss/placeholders";
//
//// Helpers
//@import "node_modules/bootstrap/scss/helpers";
//
//// Utilities
//@import "node_modules/bootstrap/scss/utilities/api";
//// scss-docs-end import-stack
//
// Add navbar-expand breakpoint css vars so we can extrapolate the value from JS
:root {
    @each $name, $value in $grid-breakpoints {
        @if $name != 'xs' {
            --p3-bs-navbar-expand-#{$name}: #{$value};
        }
    }
}

// Use the same breakpoint value used in the HTML code (es. `md` for `navbar-expand-md`)
$navbar-breakpoint: map-get($grid-breakpoints, 'md');

$navbar-bg: $black; //#2c3840; //darken($primary, 0 * $theme-color-interval); //$md-indigo-800;
$navbar-bg-hover: $gray-900; //lighten($navbar-bg, $theme-color-interval/2);//$md-indigo-600;
$navbar-bg-active: $gray-800; //$md-indigo-600;
$navbar-transition: all .2s linear;
$navbar-dropdown-menu-has-transition: false;
$navbar-dropdown-menu-transition-max-height-factor: 10;
$navbar-dropdown-menu-transition-max-height: $navbar-dropdown-menu-transition-max-height-factor * 1024px;
$navbar-dropdown-menu-transition-duration: 0.2s;
$navbar-dropdown-menu-transition-show: max-height $navbar-dropdown-menu-transition-max-height-factor*$navbar-dropdown-menu-transition-duration ease-in-out;
//$navbar-dropdown-menu-transition-hide: max-height $navbar-dropdown-menu-transition-duration linear;

//$navbar-dropdown-menu-bg: $navbar-bg; //$md-indigo-800; //$gray-900;
//$navbar-dropdown-menu-bg-hover: $navbar-bg-hover; //darken($md-indigo-900, 0%); //$md-indigo-800; //$black;
//$navbar-dropdown-menu-bg-active: $navbar-bg-active; //$md-indigo-700; //$gray-900;

$navbar-outline-color: rgba($primary, 0.5);
$navbar-outline-width: 2px;
$navbar-outline: $navbar-outline-width solid $navbar-outline-color !important;

$nb-collapsed-li-bg-color: rgba($white, 0.033);
$nb-collapsed-li-bg-color-hover: rgba($white, 0.02);

$nb-item-line-height: 1.5em;

$nb-toggler-icon-size: 1.5 * $navbar-toggler-font-size;
$nb-border-width: $border-width;
$nb-toggler-width: $nb-toggler-icon-size + 2*($navbar-toggler-padding-x + math.div(1, 16) * 1rem);
$nb-caret-width: 2*$caret-width;
$nb-caret-height: $caret-width;
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
// MIXINS
//------------------------------------------------------------------------------
@mixin navbar-dropdown-menu-transition {
    display: block !important;
    max-height: 0;
    overflow: hidden;
    &.show {
        max-height: $navbar-dropdown-menu-transition-max-height;
    }
}
//------------------------------------------------------------------------------

@if $enable-caret {
    .navbar-nav {
        .dropdown-toggle {
            position: relative;
            &:after,
            &:before {
                margin: 0 !important;
                position: absolute;
                top: calc(50% - $nb-caret-height/2);
                //vertical-align: middle!important;
            }
        }
    }
}

// navbar collapsed
@media (max-width: $navbar-breakpoint - 1px) {
    .navbar-nav {
        li {
            position: relative;
            background: $nb-collapsed-li-bg-color !important;
            border-radius: 0;
            margin-bottom: 0px;
        }
        .nav-link,
        .dropdown-item {
            border-radius: 0;
            padding: 0.75*$dropdown-item-padding-x $dropdown-item-padding-x;
            @if not $rtl {
                padding-left: $dropdown-item-padding-x;
                padding-right: $nb-toggler-width;
            } @else {
                padding-left: $nb-toggler-width;
                padding-right: $dropdown-item-padding-x;
            }
            //padding: 0 $dropdown-item-padding-x !important;
            line-height: $nb-item-line-height !important;
            background: transparent !important;
            color: $light;
            margin: 0;
            white-space: normal;
            &:hover,
            &:focus {
                color: $navbar-dark-active-color;
                //background: $nb-collapsed-li-bg-color-hover !important;
            }
            &:hover {
                background: $nb-collapsed-li-bg-color-hover !important;
            }
            &:focus-visible {
                outline: $navbar-outline;
            }
        }
        .dropdown-menu {
            background: transparent !important;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 0;
            visibility: hidden; // TAB keypresses skip hidden elements
            &.show {
                visibility: visible;
            }
            // transition
            @if $navbar-dropdown-menu-has-transition {
                @include navbar-dropdown-menu-transition;
                &.show {
                    transition: $navbar-dropdown-menu-transition-show;
                }
            }
            > li {
                display: block;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        // caret
        .dropdown-toggle {
            position: relative;
            &:before,
            &:after {
                margin: 0 !important;
                width: $nb-caret-width;
                text-align: center;
                @if not $rtl {
                    left: auto;
                    right: calc($nb-toggler-width/2 - $nb-caret-width/2);
                } @else {
                    left: calc($nb-toggler-width/2 - $nb-caret-width/2);
                    right: auto;
                }
                // custom content
                //border: 0 !important; // disable the original caret (triangle with border)
                //content: "﹀"; //"»"; // "⮞";
                //transform: rotateZ(270deg);
//                font-size: bold;
//                background-color: rgba(0,0,0,0.2);
//                border-radius: 50%;
            }
            &.show {
                &:before,
                &:after {
                    //content: "︿";//"×"; // "⮞";
                    transform: rotateZ(-180deg);
                }
            }
        }
    }
}

// navbar expanded
@media (min-width: $navbar-breakpoint) {
    .navbar-nav {
        a {
            transition: $navbar-transition;
        }
        .nav-link,
        .dropdown-item {
            &:focus-visible {
                outline: $navbar-outline;
            }
        }
        .dropdown-menu {
            max-width: 1.25*$dropdown-min-width;
            // nested menus
            .dropdown-menu {
                margin-top: -1*$dropdown-padding-y;
            }
        }

        .dropend > .dropdown-menu {
            @if not $rtl {
                left: 100%;
                right: auto;
                margin-left: 0;
            } @else {
                left: auto;
                right: 100%;
                margin-right: 0;
            }
        }
        .dropstart > .dropdown-menu {
            @if not $rtl {
                left: auto;
                right: 100%;
                margin-right: 0;
            } @else {
                left: 100%;
                right: auto;
                margin-left: 0;
            }
        }

        @if $enable-caret {
            .nav-link {
                $dropdown-toggle-padding-end: calc(1.5*$navbar-toggler-padding-x + $nb-caret-width);
                @if not $rtl {
                    & {
                        padding-right: $dropdown-toggle-padding-end;
                        &:after {
                            right: $navbar-toggler-padding-x;
                            left: auto;
                        }
                    }
                } @else {
                    & {
                        padding-left: $dropdown-toggle-padding-end;
                        &:after {
                            left: $navbar-toggler-padding-x;
                            right: auto;
                        }
                    }
                }
            }
            .dropdown-item:after,
            .dropdown-item:before {
                display: inline-block;
                margin: 0;
                vertical-align: middle!important;
                @if not $rtl {
                    left: auto;
                    right: calc(#{math.div($dropdown-item-padding-x, 2)} - #{math.div($caret-width, 2)});
                } @else {
                    left: calc(#{math.div($dropdown-item-padding-x, 2)} - #{math.div($caret-width, 2)});
                    right: auto;
                }
            }
            .dropend > .dropdown-item::before,
            .dropstart > .dropdown-item::after {
                display: none !important;
            }
        }
    }
}
