//
// //red
// $md-red-50: #FFEBEE;
// $md-red-100: #FFCDD2;
// $md-red-200: #EF9A9A;
// $md-red-300: #E57373;
// $md-red-400: #EF5350;
// $md-red-500: #F44336;
// $md-red-600: #E53935;
// $md-red-700: #D32F2F;
// $md-red-800: #C62828;
// $md-red-900: #B71C1C;
// $md-red-A100: #FF8A80;
// $md-red-A200: #FF5252;
// $md-red-A400: #FF1744;
// $md-red-A700: #D50000;
//
// //pink
// $md-pink-50: #FCE4EC;
// $md-pink-100: #F8BBD0;
// $md-pink-200: #F48FB1;
// $md-pink-300: #F06292;
// $md-pink-400: #EC407A;
// $md-pink-500: #E91E63;
// $md-pink-600: #D81B60;
// $md-pink-700: #C2185B;
// $md-pink-800: #AD1457;
// $md-pink-900: #880E4F;
// $md-pink-A100: #FF80AB;
// $md-pink-A200: #FF4081;
// $md-pink-A400: #F50057;
// $md-pink-A700: #C51162;
//
// //purple
// $md-purple-50: #F3E5F5;
// $md-purple-100: #E1BEE7;
// $md-purple-200: #CE93D8;
// $md-purple-300: #BA68C8;
// $md-purple-400: #AB47BC;
// $md-purple-500: #9C27B0;
// $md-purple-600: #8E24AA;
// $md-purple-700: #7B1FA2;
// $md-purple-800: #6A1B9A;
// $md-purple-900: #4A148C;
// $md-purple-A100: #EA80FC;
// $md-purple-A200: #E040FB;
// $md-purple-A400: #D500F9;
// $md-purple-A700: #AA00FF;
//
// //deep-purple
// $md-deep-purple-50: #EDE7F6;
// $md-deep-purple-100: #D1C4E9;
// $md-deep-purple-200: #B39DDB;
// $md-deep-purple-300: #9575CD;
// $md-deep-purple-400: #7E57C2;
// $md-deep-purple-500: #673AB7;
// $md-deep-purple-600: #5E35B1;
// $md-deep-purple-700: #512DA8;
// $md-deep-purple-800: #4527A0;
// $md-deep-purple-900: #311B92;
// $md-deep-purple-A100: #B388FF;
// $md-deep-purple-A200: #7C4DFF;
// $md-deep-purple-A400: #651FFF;
// $md-deep-purple-A700: #6200EA;
//
// //indigo
// $md-indigo-50: #E8EAF6;
// $md-indigo-100: #C5CAE9;
// $md-indigo-200: #9FA8DA;
// $md-indigo-300: #7986CB;
// $md-indigo-400: #5C6BC0;
// $md-indigo-500: #3F51B5;
// $md-indigo-600: #3949AB;
// $md-indigo-700: #303F9F;
// $md-indigo-800: #283593;
// $md-indigo-900: #1A237E;
// $md-indigo-A100: #8C9EFF;
// $md-indigo-A200: #536DFE;
// $md-indigo-A400: #3D5AFE;
// $md-indigo-A700: #304FFE;
//
// //blue
// $md-blue-50: #E3F2FD;
// $md-blue-100: #BBDEFB;
// $md-blue-200: #90CAF9;
// $md-blue-300: #64B5F6;
// $md-blue-400: #42A5F5;
// $md-blue-500: #2196F3;
// $md-blue-600: #1E88E5;
// $md-blue-700: #1976D2;
// $md-blue-800: #1565C0;
// $md-blue-900: #0D47A1;
// $md-blue-A100: #82B1FF;
// $md-blue-A200: #448AFF;
// $md-blue-A400: #2979FF;
// $md-blue-A700: #2962FF;
//
// //light-blue
// $md-light-blue-50: #E1F5FE;
// $md-light-blue-100: #B3E5FC;
// $md-light-blue-200: #81D4FA;
// $md-light-blue-300: #4FC3F7;
// $md-light-blue-400: #29B6F6;
// $md-light-blue-500: #03A9F4;
// $md-light-blue-600: #039BE5;
// $md-light-blue-700: #0288D1;
// $md-light-blue-800: #0277BD;
// $md-light-blue-900: #01579B;
// $md-light-blue-A100: #80D8FF;
// $md-light-blue-A200: #40C4FF;
// $md-light-blue-A400: #00B0FF;
// $md-light-blue-A700: #0091EA;
//
// //cyan
// $md-cyan-50: #E0F7FA;
// $md-cyan-100: #B2EBF2;
// $md-cyan-200: #80DEEA;
// $md-cyan-300: #4DD0E1;
// $md-cyan-400: #26C6DA;
// $md-cyan-500: #00BCD4;
// $md-cyan-600: #00ACC1;
// $md-cyan-700: #0097A7;
// $md-cyan-800: #00838F;
// $md-cyan-900: #006064;
// $md-cyan-A100: #84FFFF;
// $md-cyan-A200: #18FFFF;
// $md-cyan-A400: #00E5FF;
// $md-cyan-A700: #00B8D4;
//
// //teal
// $md-teal-50: #E0F2F1;
// $md-teal-100: #B2DFDB;
// $md-teal-200: #80CBC4;
// $md-teal-300: #4DB6AC;
// $md-teal-400: #26A69A;
// $md-teal-500: #009688;
// $md-teal-600: #00897B;
// $md-teal-700: #00796B;
// $md-teal-800: #00695C;
// $md-teal-900: #004D40;
// $md-teal-A100: #A7FFEB;
// $md-teal-A200: #64FFDA;
// $md-teal-A400: #1DE9B6;
// $md-teal-A700: #00BFA5;
//
// //green
// $md-green-50: #E8F5E9;
// $md-green-100: #C8E6C9;
// $md-green-200: #A5D6A7;
// $md-green-300: #81C784;
// $md-green-400: #66BB6A;
// $md-green-500: #4CAF50;
// $md-green-600: #43A047;
// $md-green-700: #388E3C;
// $md-green-800: #2E7D32;
// $md-green-900: #1B5E20;
// $md-green-A100: #B9F6CA;
// $md-green-A200: #69F0AE;
// $md-green-A400: #00E676;
// $md-green-A700: #00C853;
//
// //light-green
// $md-light-green-50: #F1F8E9;
// $md-light-green-100: #DCEDC8;
// $md-light-green-200: #C5E1A5;
// $md-light-green-300: #AED581;
// $md-light-green-400: #9CCC65;
// $md-light-green-500: #8BC34A;
// $md-light-green-600: #7CB342;
// $md-light-green-700: #689F38;
// $md-light-green-800: #558B2F;
// $md-light-green-900: #33691E;
// $md-light-green-A100: #CCFF90;
// $md-light-green-A200: #B2FF59;
// $md-light-green-A400: #76FF03;
// $md-light-green-A700: #64DD17;
//
// //lime
// $md-lime-50: #F9FBE7;
// $md-lime-100: #F0F4C3;
// $md-lime-200: #E6EE9C;
// $md-lime-300: #DCE775;
// $md-lime-400: #D4E157;
// $md-lime-500: #CDDC39;
// $md-lime-600: #C0CA33;
// $md-lime-700: #AFB42B;
// $md-lime-800: #9E9D24;
// $md-lime-900: #827717;
// $md-lime-A100: #F4FF81;
// $md-lime-A200: #EEFF41;
// $md-lime-A400: #C6FF00;
// $md-lime-A700: #AEEA00;
//
// //yellow
// $md-yellow-50: #FFFDE7;
// $md-yellow-100: #FFF9C4;
// $md-yellow-200: #FFF59D;
// $md-yellow-300: #FFF176;
// $md-yellow-400: #FFEE58;
// $md-yellow-500: #FFEB3B;
// $md-yellow-600: #FDD835;
// $md-yellow-700: #FBC02D;
// $md-yellow-800: #F9A825;
// $md-yellow-900: #F57F17;
// $md-yellow-A100: #FFFF8D;
// $md-yellow-A200: #FFFF00;
// $md-yellow-A400: #FFEA00;
// $md-yellow-A700: #FFD600;
//
// //amber
// $md-amber-50: #FFF8E1;
// $md-amber-100: #FFECB3;
// $md-amber-200: #FFE082;
// $md-amber-300: #FFD54F;
// $md-amber-400: #FFCA28;
// $md-amber-500: #FFC107;
// $md-amber-600: #FFB300;
// $md-amber-700: #FFA000;
// $md-amber-800: #FF8F00;
// $md-amber-900: #FF6F00;
// $md-amber-A100: #FFE57F;
// $md-amber-A200: #FFD740;
// $md-amber-A400: #FFC400;
// $md-amber-A700: #FFAB00;
//
// //orange
// $md-orange-50: #FFF3E0;
// $md-orange-100: #FFE0B2;
// $md-orange-200: #FFCC80;
// $md-orange-300: #FFB74D;
// $md-orange-400: #FFA726;
// $md-orange-500: #FF9800;
// $md-orange-600: #FB8C00;
// $md-orange-700: #F57C00;
// $md-orange-800: #EF6C00;
// $md-orange-900: #E65100;
// $md-orange-A100: #FFD180;
// $md-orange-A200: #FFAB40;
// $md-orange-A400: #FF9100;
// $md-orange-A700: #FF6D00;
//
// //deep-orange
// $md-deep-orange-50: #FBE9E7;
// $md-deep-orange-100: #FFCCBC;
// $md-deep-orange-200: #FFAB91;
// $md-deep-orange-300: #FF8A65;
// $md-deep-orange-400: #FF7043;
// $md-deep-orange-500: #FF5722;
// $md-deep-orange-600: #F4511E;
// $md-deep-orange-700: #E64A19;
// $md-deep-orange-800: #D84315;
// $md-deep-orange-900: #BF360C;
// $md-deep-orange-A100: #FF9E80;
// $md-deep-orange-A200: #FF6E40;
// $md-deep-orange-A400: #FF3D00;
// $md-deep-orange-A700: #DD2C00;
//
// //brown
// $md-brown-50: #EFEBE9;
// $md-brown-100: #D7CCC8;
// $md-brown-200: #BCAAA4;
// $md-brown-300: #A1887F;
// $md-brown-400: #8D6E63;
// $md-brown-500: #795548;
// $md-brown-600: #6D4C41;
// $md-brown-700: #5D4037;
// $md-brown-800: #4E342E;
// $md-brown-900: #3E2723;
//
// //grey
// $md-grey-50: #FAFAFA;
// $md-grey-100: #F5F5F5;
// $md-grey-200: #EEEEEE;
// $md-grey-300: #E0E0E0;
// $md-grey-400: #BDBDBD;
// $md-grey-500: #9E9E9E;
// $md-grey-600: #757575;
// $md-grey-700: #616161;
// $md-grey-800: #424242;
// $md-grey-900: #212121;
//
// //blue-grey
// $md-blue-grey-50: #ECEFF1;
// $md-blue-grey-100: #CFD8DC;
// $md-blue-grey-200: #B0BEC5;
// $md-blue-grey-300: #90A4AE;
// $md-blue-grey-400: #78909C;
// $md-blue-grey-500: #607D8B;
// $md-blue-grey-600: #546E7A;
// $md-blue-grey-700: #455A64;
// $md-blue-grey-800: #37474F;
// $md-blue-grey-900: #263238;
//
// //black-white
// $md-black: #000;
// $md-white: #FFF;
// $md-black-alpha-1: rgba(#000, 0.12);
// $md-black-alpha-2: rgba(#000, 0.26);
// $md-black-alpha-3: rgba(#000, 0.54);
// $md-black-alpha-4: rgba(#000, 0.87);
// $md-white-alpha-1: rgba(#FFF, 0.12);
// $md-white-alpha-2: rgba(#FFF, 0.30);
// $md-white-alpha-3: rgba(#FFF, 0.70);
// $md-white-alpha-4: rgba(#FFF, 1.00);
//
// $md-black-alpha-12: rgba(#000, 0.12);
// $md-black-alpha-26: rgba(#000, 0.26);
// $md-black-alpha-54: rgba(#000, 0.54);
// $md-black-alpha-87: rgba(#000, 0.87);
// $md-white-alpha-12: rgba(#FFF, 0.12);
// $md-white-alpha-30: rgba(#FFF, 0.30);
// $md-white-alpha-70: rgba(#FFF, 0.70);
//
//
// $md-red: $md-red-500;
// $md-pink: $md-pink-500;
// $md-purple: $md-purple-500;
// $md-deep-purple: $md-deep-purple-500;
// $md-indigo: $md-indigo-500;
// $md-blue: $md-blue-500;
// $md-light-blue: $md-light-blue-500;
// $md-cyan: $md-cyan-500;
// $md-teal: $md-teal-500;
// $md-green: $md-green-500;
// $md-light-green: $md-light-green-500;
// $md-lime: $md-lime-500;
// $md-yellow: $md-yellow-500;
// $md-amber: $md-amber-500;
// $md-orange: $md-orange-500;
// $md-deep-orange: $md-deep-orange-500;
// $md-brown: $md-brown-500;
// $md-grey: $md-grey-500;
// $md-blue-grey: $md-blue-grey-500;
//
// $md-opacity-dark-color:     #000;
// $md-opacity-dark-primary:   0.87;
// $md-opacity-dark-secondary: 0.54;
// $md-opacity-dark-disabled:  0.38;
//
// $md-opacity-light-color:     #FFF;
// $md-opacity-light-primary:   1;
// $md-opacity-light-secondary: 0.70;
// $md-opacity-light-disabled:  0.30;

//red
$md-red-50: #FFEBEE;
$md-red-100: #FFCDD2;
$md-red-200: #EF9A9A;
$md-red-300: #E57373;
$md-red-400: #EF5350;
$md-red-500: #F44336;
$md-red-600: #E53935;
$md-red-700: #D32F2F;
$md-red-800: #C62828;
$md-red-900: #B71C1C;
$md-red-A100: #FF8A80;
$md-red-A200: #FF5252;
$md-red-A400: #FF1744;
$md-red-A700: #D50000;

//pink
$md-pink-50: #FCE4EC;
$md-pink-100: #F8BBD0;
$md-pink-200: #F48FB1;
$md-pink-300: #F06292;
$md-pink-400: #EC407A;
$md-pink-500: #E91E63;
$md-pink-600: #D81B60;
$md-pink-700: #C2185B;
$md-pink-800: #AD1457;
$md-pink-900: #880E4F;
$md-pink-A100: #FF80AB;
$md-pink-A200: #FF4081;
$md-pink-A400: #F50057;
$md-pink-A700: #C51162;

//purple
$md-purple-50: #F3E5F5;
$md-purple-100: #E1BEE7;
$md-purple-200: #CE93D8;
$md-purple-300: #BA68C8;
$md-purple-400: #AB47BC;
$md-purple-500: #9C27B0;
$md-purple-600: #8E24AA;
$md-purple-700: #7B1FA2;
$md-purple-800: #6A1B9A;
$md-purple-900: #4A148C;
$md-purple-A100: #EA80FC;
$md-purple-A200: #E040FB;
$md-purple-A400: #D500F9;
$md-purple-A700: #AA00FF;

//deep-purple
$md-deep-purple-50: #EDE7F6;
$md-deep-purple-100: #D1C4E9;
$md-deep-purple-200: #B39DDB;
$md-deep-purple-300: #9575CD;
$md-deep-purple-400: #7E57C2;
$md-deep-purple-500: #673AB7;
$md-deep-purple-600: #5E35B1;
$md-deep-purple-700: #512DA8;
$md-deep-purple-800: #4527A0;
$md-deep-purple-900: #311B92;
$md-deep-purple-A100: #B388FF;
$md-deep-purple-A200: #7C4DFF;
$md-deep-purple-A400: #651FFF;
$md-deep-purple-A700: #6200EA;

//indigo
$md-indigo-50: #E8EAF6;
$md-indigo-100: #C5CAE9;
$md-indigo-200: #9FA8DA;
$md-indigo-300: #7986CB;
$md-indigo-400: #5C6BC0;
$md-indigo-500: #3F51B5;
$md-indigo-600: #3949AB;
$md-indigo-700: #303F9F;
$md-indigo-800: #283593;
$md-indigo-900: #1A237E;
$md-indigo-A100: #8C9EFF;
$md-indigo-A200: #536DFE;
$md-indigo-A400: #3D5AFE;
$md-indigo-A700: #304FFE;

//blue
$md-blue-50: #E3F2FD;
$md-blue-100: #BBDEFB;
$md-blue-200: #90CAF9;
$md-blue-300: #64B5F6;
$md-blue-400: #42A5F5;
$md-blue-500: #2196F3;
$md-blue-600: #1E88E5;
$md-blue-700: #1976D2;
$md-blue-800: #1565C0;
$md-blue-900: #0D47A1;
$md-blue-A100: #82B1FF;
$md-blue-A200: #448AFF;
$md-blue-A400: #2979FF;
$md-blue-A700: #2962FF;

//light-blue
$md-light-blue-50: #E1F5FE;
$md-light-blue-100: #B3E5FC;
$md-light-blue-200: #81D4FA;
$md-light-blue-300: #4FC3F7;
$md-light-blue-400: #29B6F6;
$md-light-blue-500: #03A9F4;
$md-light-blue-600: #039BE5;
$md-light-blue-700: #0288D1;
$md-light-blue-800: #0277BD;
$md-light-blue-900: #01579B;
$md-light-blue-A100: #80D8FF;
$md-light-blue-A200: #40C4FF;
$md-light-blue-A400: #00B0FF;
$md-light-blue-A700: #0091EA;

//cyan
$md-cyan-50: #E0F7FA;
$md-cyan-100: #B2EBF2;
$md-cyan-200: #80DEEA;
$md-cyan-300: #4DD0E1;
$md-cyan-400: #26C6DA;
$md-cyan-500: #00BCD4;
$md-cyan-600: #00ACC1;
$md-cyan-700: #0097A7;
$md-cyan-800: #00838F;
$md-cyan-900: #006064;
$md-cyan-A100: #84FFFF;
$md-cyan-A200: #18FFFF;
$md-cyan-A400: #00E5FF;
$md-cyan-A700: #00B8D4;

//teal
$md-teal-50: #E0F2F1;
$md-teal-100: #B2DFDB;
$md-teal-200: #80CBC4;
$md-teal-300: #4DB6AC;
$md-teal-400: #26A69A;
$md-teal-500: #009688;
$md-teal-600: #00897B;
$md-teal-700: #00796B;
$md-teal-800: #00695C;
$md-teal-900: #004D40;
$md-teal-A100: #A7FFEB;
$md-teal-A200: #64FFDA;
$md-teal-A400: #1DE9B6;
$md-teal-A700: #00BFA5;

//green
$md-green-50: #E8F5E9;
$md-green-100: #C8E6C9;
$md-green-200: #A5D6A7;
$md-green-300: #81C784;
$md-green-400: #66BB6A;
$md-green-500: #4CAF50;
$md-green-600: #43A047;
$md-green-700: #388E3C;
$md-green-800: #2E7D32;
$md-green-900: #1B5E20;
$md-green-A100: #B9F6CA;
$md-green-A200: #69F0AE;
$md-green-A400: #00E676;
$md-green-A700: #00C853;

//light-green
$md-light-green-50: #F1F8E9;
$md-light-green-100: #DCEDC8;
$md-light-green-200: #C5E1A5;
$md-light-green-300: #AED581;
$md-light-green-400: #9CCC65;
$md-light-green-500: #8BC34A;
$md-light-green-600: #7CB342;
$md-light-green-700: #689F38;
$md-light-green-800: #558B2F;
$md-light-green-900: #33691E;
$md-light-green-A100: #CCFF90;
$md-light-green-A200: #B2FF59;
$md-light-green-A400: #76FF03;
$md-light-green-A700: #64DD17;

//lime
$md-lime-50: #F9FBE7;
$md-lime-100: #F0F4C3;
$md-lime-200: #E6EE9C;
$md-lime-300: #DCE775;
$md-lime-400: #D4E157;
$md-lime-500: #CDDC39;
$md-lime-600: #C0CA33;
$md-lime-700: #AFB42B;
$md-lime-800: #9E9D24;
$md-lime-900: #827717;
$md-lime-A100: #F4FF81;
$md-lime-A200: #EEFF41;
$md-lime-A400: #C6FF00;
$md-lime-A700: #AEEA00;

//yellow
$md-yellow-50: #FFFDE7;
$md-yellow-100: #FFF9C4;
$md-yellow-200: #FFF59D;
$md-yellow-300: #FFF176;
$md-yellow-400: #FFEE58;
$md-yellow-500: #FFEB3B;
$md-yellow-600: #FDD835;
$md-yellow-700: #FBC02D;
$md-yellow-800: #F9A825;
$md-yellow-900: #F57F17;
$md-yellow-A100: #FFFF8D;
$md-yellow-A200: #FFFF00;
$md-yellow-A400: #FFEA00;
$md-yellow-A700: #FFD600;

//amber
$md-amber-50: #FFF8E1;
$md-amber-100: #FFECB3;
$md-amber-200: #FFE082;
$md-amber-300: #FFD54F;
$md-amber-400: #FFCA28;
$md-amber-500: #FFC107;
$md-amber-600: #FFB300;
$md-amber-700: #FFA000;
$md-amber-800: #FF8F00;
$md-amber-900: #FF6F00;
$md-amber-A100: #FFE57F;
$md-amber-A200: #FFD740;
$md-amber-A400: #FFC400;
$md-amber-A700: #FFAB00;

//orange
$md-orange-50: #FFF3E0;
$md-orange-100: #FFE0B2;
$md-orange-200: #FFCC80;
$md-orange-300: #FFB74D;
$md-orange-400: #FFA726;
$md-orange-500: #FF9800;
$md-orange-600: #FB8C00;
$md-orange-700: #F57C00;
$md-orange-800: #EF6C00;
$md-orange-900: #E65100;
$md-orange-A100: #FFD180;
$md-orange-A200: #FFAB40;
$md-orange-A400: #FF9100;
$md-orange-A700: #FF6D00;

//deep-orange
$md-deep-orange-50: #FBE9E7;
$md-deep-orange-100: #FFCCBC;
$md-deep-orange-200: #FFAB91;
$md-deep-orange-300: #FF8A65;
$md-deep-orange-400: #FF7043;
$md-deep-orange-500: #FF5722;
$md-deep-orange-600: #F4511E;
$md-deep-orange-700: #E64A19;
$md-deep-orange-800: #D84315;
$md-deep-orange-900: #BF360C;
$md-deep-orange-A100: #FF9E80;
$md-deep-orange-A200: #FF6E40;
$md-deep-orange-A400: #FF3D00;
$md-deep-orange-A700: #DD2C00;

//brown
$md-brown-50: #EFEBE9;
$md-brown-100: #D7CCC8;
$md-brown-200: #BCAAA4;
$md-brown-300: #A1887F;
$md-brown-400: #8D6E63;
$md-brown-500: #795548;
$md-brown-600: #6D4C41;
$md-brown-700: #5D4037;
$md-brown-800: #4E342E;
$md-brown-900: #3E2723;

//grey
$md-grey-50: #FAFAFA;
$md-grey-100: #F5F5F5;
$md-grey-200: #EEEEEE;
$md-grey-300: #E0E0E0;
$md-grey-400: #BDBDBD;
$md-grey-500: #9E9E9E;
$md-grey-600: #757575;
$md-grey-700: #616161;
$md-grey-800: #424242;
$md-grey-900: #212121;

//blue-grey
$md-blue-grey-50: #ECEFF1;
$md-blue-grey-100: #CFD8DC;
$md-blue-grey-200: #B0BEC5;
$md-blue-grey-300: #90A4AE;
$md-blue-grey-400: #78909C;
$md-blue-grey-500: #607D8B;
$md-blue-grey-600: #546E7A;
$md-blue-grey-700: #455A64;
$md-blue-grey-800: #37474F;
$md-blue-grey-900: #263238;

$md-red: $md-red-500;
$md-pink: $md-pink-500;
$md-purple: $md-purple-500;
$md-deep-purple: $md-deep-purple-500;
$md-indigo: $md-indigo-500;
$md-blue: $md-blue-500;
$md-light-blue: $md-light-blue-500;
$md-cyan: $md-cyan-500;
$md-teal: $md-teal-500;
$md-green: $md-green-500;
$md-light-green: $md-light-green-500;
$md-lime: $md-lime-500;
$md-yellow: $md-yellow-500;
$md-amber: $md-amber-500;
$md-orange: $md-orange-500;
$md-deep-orange: $md-deep-orange-500;
$md-brown: $md-brown-500;
$md-grey: $md-grey-500;
$md-blue-grey: $md-blue-grey-500;

$md-dark-color:             #000;
$md-opacity-dark-primary:   0.87;
$md-opacity-dark-secondary: 0.54;
$md-opacity-dark-disabled:  0.38;
$md-opacity-dark-hint:      0.38;
$md-opacity-dark-icons:     0.38;
$md-opacity-dark-dividers:  0.12;

$md-light-color:             #FFF;
$md-opacity-light-primary:   1;
$md-opacity-light-secondary: 0.70;
$md-opacity-light-disabled:  0.30;
$md-opacity-light-hint:      0.30;
$md-opacity-light-icons:     0.30;
$md-opacity-light-dividers:  0.12;

//black-white
$md-black: #000;
$md-white: #FFF;

$md-dark-primary: rgba($md-dark-color, 0.87);
$md-dark-secondary: rgba($md-dark-color, 0.54);
$md-dark-disabled: rgba($md-dark-color, 0.38);
$md-dark-hint: rgba($md-dark-color, 0.38);
$md-dark-icons: rgba($md-dark-color, 0.38);
$md-dark-dividers: rgba($md-dark-color, 0.12);

$md-dark-alpha-1: rgba($md-dark-color, 0.87);
$md-dark-alpha-2: rgba($md-dark-color, 0.54);
$md-dark-alpha-3: rgba($md-dark-color, 0.38);
$md-dark-alpha-4: rgba($md-dark-color, 0.12);

$md-dark-alpha-87: rgba($md-dark-color, 0.87);
$md-dark-alpha-54: rgba($md-dark-color, 0.54);
$md-dark-alpha-38: rgba($md-dark-color, 0.38);
$md-dark-alpha-12: rgba($md-dark-color, 0.12);

$md-light-primary: rgba($md-light-color, 1);
$md-light-secondary: rgba($md-light-color, 0.70);
$md-light-disabled: rgba($md-light-color, 0.50);
$md-light-hint: rgba($md-light-color, 0.50);
$md-light-icons: rgba($md-light-color, 0.50);
$md-light-dividers: rgba($md-light-color, 0.12);

$md-light-alpha-1: rgba($md-light-color, 1.00);
$md-light-alpha-3: rgba($md-light-color, 0.50);
$md-light-alpha-2: rgba($md-light-color, 0.70);
$md-light-alpha-4: rgba($md-light-color, 0.12);

$md-light-alpha-100: rgba($md-light-color, 1);
$md-light-alpha-70: rgba($md-light-color, 0.70);
$md-light-alpha-50: rgba($md-light-color, 0.50);
$md-light-alpha-12: rgba($md-light-color, 0.12);


$md-colors: (
    //red
    'red-50': #FFEBEE,
    'red-100': #FFCDD2,
    'red-200': #EF9A9A,
    'red-300': #E57373,
    'red-400': #EF5350,
    'red-500': #F44336,
    'red-600': #E53935,
    'red-700': #D32F2F,
    'red-800': #C62828,
    'red-900': #B71C1C,
    'red-A100': #FF8A80,
    'red-A200': #FF5252,
    'red-A400': #FF1744,
    'red-A700': #D50000,

    //pink
    'pink-50': #FCE4EC,
    'pink-100': #F8BBD0,
    'pink-200': #F48FB1,
    'pink-300': #F06292,
    'pink-400': #EC407A,
    'pink-500': #E91E63,
    'pink-600': #D81B60,
    'pink-700': #C2185B,
    'pink-800': #AD1457,
    'pink-900': #880E4F,
    'pink-A100': #FF80AB,
    'pink-A200': #FF4081,
    'pink-A400': #F50057,
    'pink-A700': #C51162,

    //purple
    'purple-50': #F3E5F5,
    'purple-100': #E1BEE7,
    'purple-200': #CE93D8,
    'purple-300': #BA68C8,
    'purple-400': #AB47BC,
    'purple-500': #9C27B0,
    'purple-600': #8E24AA,
    'purple-700': #7B1FA2,
    'purple-800': #6A1B9A,
    'purple-900': #4A148C,
    'purple-A100': #EA80FC,
    'purple-A200': #E040FB,
    'purple-A400': #D500F9,
    'purple-A700': #AA00FF,

    //deep-purple
    'deep-purple-50': #EDE7F6,
    'deep-purple-100': #D1C4E9,
    'deep-purple-200': #B39DDB,
    'deep-purple-300': #9575CD,
    'deep-purple-400': #7E57C2,
    'deep-purple-500': #673AB7,
    'deep-purple-600': #5E35B1,
    'deep-purple-700': #512DA8,
    'deep-purple-800': #4527A0,
    'deep-purple-900': #311B92,
    'deep-purple-A100': #B388FF,
    'deep-purple-A200': #7C4DFF,
    'deep-purple-A400': #651FFF,
    'deep-purple-A700': #6200EA,

    //indigo
    'indigo-50': #E8EAF6,
    'indigo-100': #C5CAE9,
    'indigo-200': #9FA8DA,
    'indigo-300': #7986CB,
    'indigo-400': #5C6BC0,
    'indigo-500': #3F51B5,
    'indigo-600': #3949AB,
    'indigo-700': #303F9F,
    'indigo-800': #283593,
    'indigo-900': #1A237E,
    'indigo-A100': #8C9EFF,
    'indigo-A200': #536DFE,
    'indigo-A400': #3D5AFE,
    'indigo-A700': #304FFE,

    //blue
    'blue-50': #E3F2FD,
    'blue-100': #BBDEFB,
    'blue-200': #90CAF9,
    'blue-300': #64B5F6,
    'blue-400': #42A5F5,
    'blue-500': #2196F3,
    'blue-600': #1E88E5,
    'blue-700': #1976D2,
    'blue-800': #1565C0,
    'blue-900': #0D47A1,
    'blue-A100': #82B1FF,
    'blue-A200': #448AFF,
    'blue-A400': #2979FF,
    'blue-A700': #2962FF,

    //light-blue
    'light-blue-50': #E1F5FE,
    'light-blue-100': #B3E5FC,
    'light-blue-200': #81D4FA,
    'light-blue-300': #4FC3F7,
    'light-blue-400': #29B6F6,
    'light-blue-500': #03A9F4,
    'light-blue-600': #039BE5,
    'light-blue-700': #0288D1,
    'light-blue-800': #0277BD,
    'light-blue-900': #01579B,
    'light-blue-A100': #80D8FF,
    'light-blue-A200': #40C4FF,
    'light-blue-A400': #00B0FF,
    'light-blue-A700': #0091EA,

    //cyan
    'cyan-50': #E0F7FA,
    'cyan-100': #B2EBF2,
    'cyan-200': #80DEEA,
    'cyan-300': #4DD0E1,
    'cyan-400': #26C6DA,
    'cyan-500': #00BCD4,
    'cyan-600': #00ACC1,
    'cyan-700': #0097A7,
    'cyan-800': #00838F,
    'cyan-900': #006064,
    'cyan-A100': #84FFFF,
    'cyan-A200': #18FFFF,
    'cyan-A400': #00E5FF,
    'cyan-A700': #00B8D4,

    //teal
    'teal-50': #E0F2F1,
    'teal-100': #B2DFDB,
    'teal-200': #80CBC4,
    'teal-300': #4DB6AC,
    'teal-400': #26A69A,
    'teal-500': #009688,
    'teal-600': #00897B,
    'teal-700': #00796B,
    'teal-800': #00695C,
    'teal-900': #004D40,
    'teal-A100': #A7FFEB,
    'teal-A200': #64FFDA,
    'teal-A400': #1DE9B6,
    'teal-A700': #00BFA5,

    //green
    'green-50': #E8F5E9,
    'green-100': #C8E6C9,
    'green-200': #A5D6A7,
    'green-300': #81C784,
    'green-400': #66BB6A,
    'green-500': #4CAF50,
    'green-600': #43A047,
    'green-700': #388E3C,
    'green-800': #2E7D32,
    'green-900': #1B5E20,
    'green-A100': #B9F6CA,
    'green-A200': #69F0AE,
    'green-A400': #00E676,
    'green-A700': #00C853,

    //light-green
    'light-green-50': #F1F8E9,
    'light-green-100': #DCEDC8,
    'light-green-200': #C5E1A5,
    'light-green-300': #AED581,
    'light-green-400': #9CCC65,
    'light-green-500': #8BC34A,
    'light-green-600': #7CB342,
    'light-green-700': #689F38,
    'light-green-800': #558B2F,
    'light-green-900': #33691E,
    'light-green-A100': #CCFF90,
    'light-green-A200': #B2FF59,
    'light-green-A400': #76FF03,
    'light-green-A700': #64DD17,

    //lime
    'lime-50': #F9FBE7,
    'lime-100': #F0F4C3,
    'lime-200': #E6EE9C,
    'lime-300': #DCE775,
    'lime-400': #D4E157,
    'lime-500': #CDDC39,
    'lime-600': #C0CA33,
    'lime-700': #AFB42B,
    'lime-800': #9E9D24,
    'lime-900': #827717,
    'lime-A100': #F4FF81,
    'lime-A200': #EEFF41,
    'lime-A400': #C6FF00,
    'lime-A700': #AEEA00,

    //yellow
    'yellow-50': #FFFDE7,
    'yellow-100': #FFF9C4,
    'yellow-200': #FFF59D,
    'yellow-300': #FFF176,
    'yellow-400': #FFEE58,
    'yellow-500': #FFEB3B,
    'yellow-600': #FDD835,
    'yellow-700': #FBC02D,
    'yellow-800': #F9A825,
    'yellow-900': #F57F17,
    'yellow-A100': #FFFF8D,
    'yellow-A200': #FFFF00,
    'yellow-A400': #FFEA00,
    'yellow-A700': #FFD600,

    //amber
    'amber-50': #FFF8E1,
    'amber-100': #FFECB3,
    'amber-200': #FFE082,
    'amber-300': #FFD54F,
    'amber-400': #FFCA28,
    'amber-500': #FFC107,
    'amber-600': #FFB300,
    'amber-700': #FFA000,
    'amber-800': #FF8F00,
    'amber-900': #FF6F00,
    'amber-A100': #FFE57F,
    'amber-A200': #FFD740,
    'amber-A400': #FFC400,
    'amber-A700': #FFAB00,

    //orange
    'orange-50': #FFF3E0,
    'orange-100': #FFE0B2,
    'orange-200': #FFCC80,
    'orange-300': #FFB74D,
    'orange-400': #FFA726,
    'orange-500': #FF9800,
    'orange-600': #FB8C00,
    'orange-700': #F57C00,
    'orange-800': #EF6C00,
    'orange-900': #E65100,
    'orange-A100': #FFD180,
    'orange-A200': #FFAB40,
    'orange-A400': #FF9100,
    'orange-A700': #FF6D00,

    //deep-orange
    'deep-orange-50': #FBE9E7,
    'deep-orange-100': #FFCCBC,
    'deep-orange-200': #FFAB91,
    'deep-orange-300': #FF8A65,
    'deep-orange-400': #FF7043,
    'deep-orange-500': #FF5722,
    'deep-orange-600': #F4511E,
    'deep-orange-700': #E64A19,
    'deep-orange-800': #D84315,
    'deep-orange-900': #BF360C,
    'deep-orange-A100': #FF9E80,
    'deep-orange-A200': #FF6E40,
    'deep-orange-A400': #FF3D00,
    'deep-orange-A700': #DD2C00,

    //brown
    'brown-50': #EFEBE9,
    'brown-100': #D7CCC8,
    'brown-200': #BCAAA4,
    'brown-300': #A1887F,
    'brown-400': #8D6E63,
    'brown-500': #795548,
    'brown-600': #6D4C41,
    'brown-700': #5D4037,
    'brown-800': #4E342E,
    'brown-900': #3E2723,

    //grey
    'grey-50': #FAFAFA,
    'grey-100': #F5F5F5,
    'grey-200': #EEEEEE,
    'grey-300': #E0E0E0,
    'grey-400': #BDBDBD,
    'grey-500': #9E9E9E,
    'grey-600': #757575,
    'grey-700': #616161,
    'grey-800': #424242,
    'grey-900': #212121,

    //blue-grey
    'blue-grey-50': #ECEFF1,
    'blue-grey-100': #CFD8DC,
    'blue-grey-200': #B0BEC5,
    'blue-grey-300': #90A4AE,
    'blue-grey-400': #78909C,
    'blue-grey-500': #607D8B,
    'blue-grey-600': #546E7A,
    'blue-grey-700': #455A64,
    'blue-grey-800': #37474F,
    'blue-grey-900': #263238,
);


$md-palette: (
    //red
    'red': (
        '50': #FFEBEE,
        '100': #FFCDD2,
        '200': #EF9A9A,
        '300': #E57373,
        '400': #EF5350,
        '500': #F44336,
        '600': #E53935,
        '700': #D32F2F,
        '800': #C62828,
        '900': #B71C1C,
        'A100': #FF8A80,
        'A200': #FF5252,
        'A400': #FF1744,
        'A700': #D50000,
    ),

    //pink
    'pink': (
        '50': #FCE4EC,
        '100': #F8BBD0,
        '200': #F48FB1,
        '300': #F06292,
        '400': #EC407A,
        '500': #E91E63,
        '600': #D81B60,
        '700': #C2185B,
        '800': #AD1457,
        '900': #880E4F,
        'A100': #FF80AB,
        'A200': #FF4081,
        'A400': #F50057,
        'A700': #C51162,
    ),

    //purple
    'purple': (
        '50': #F3E5F5,
        '100': #E1BEE7,
        '200': #CE93D8,
        '300': #BA68C8,
        '400': #AB47BC,
        '500': #9C27B0,
        '600': #8E24AA,
        '700': #7B1FA2,
        '800': #6A1B9A,
        '900': #4A148C,
        'A100': #EA80FC,
        'A200': #E040FB,
        'A400': #D500F9,
        'A700': #AA00FF,
    ),

    //deep-purple
    'deep-purple': (
        '50': #EDE7F6,
        '100': #D1C4E9,
        '200': #B39DDB,
        '300': #9575CD,
        '400': #7E57C2,
        '500': #673AB7,
        '600': #5E35B1,
        '700': #512DA8,
        '800': #4527A0,
        '900': #311B92,
        'A100': #B388FF,
        'A200': #7C4DFF,
        'A400': #651FFF,
        'A700': #6200EA,
    ),

    //indigo
    'indigo': (
        '50': #E8EAF6,
        '100': #C5CAE9,
        '200': #9FA8DA,
        '300': #7986CB,
        '400': #5C6BC0,
        '500': #3F51B5,
        '600': #3949AB,
        '700': #303F9F,
        '800': #283593,
        '900': #1A237E,
        'A100': #8C9EFF,
        'A200': #536DFE,
        'A400': #3D5AFE,
        'A700': #304FFE,
    ),

    //blue
    'blue': (
        '50': #E3F2FD,
        '100': #BBDEFB,
        '200': #90CAF9,
        '300': #64B5F6,
        '400': #42A5F5,
        '500': #2196F3,
        '600': #1E88E5,
        '700': #1976D2,
        '800': #1565C0,
        '900': #0D47A1,
        'A100': #82B1FF,
        'A200': #448AFF,
        'A400': #2979FF,
        'A700': #2962FF,
    ),

    //light-blue
    'light-blue': (
        '50': #E1F5FE,
        '100': #B3E5FC,
        '200': #81D4FA,
        '300': #4FC3F7,
        '400': #29B6F6,
        '500': #03A9F4,
        '600': #039BE5,
        '700': #0288D1,
        '800': #0277BD,
        '900': #01579B,
        'A100': #80D8FF,
        'A200': #40C4FF,
        'A400': #00B0FF,
        'A700': #0091EA,
    ),

    //cyan
    'cyan': (
        '50': #E0F7FA,
        '100': #B2EBF2,
        '200': #80DEEA,
        '300': #4DD0E1,
        '400': #26C6DA,
        '500': #00BCD4,
        '600': #00ACC1,
        '700': #0097A7,
        '800': #00838F,
        '900': #006064,
        'A100': #84FFFF,
        'A200': #18FFFF,
        'A400': #00E5FF,
        'A700': #00B8D4,
    ),

    //teal
    'teal': (
        '50': #E0F2F1,
        '100': #B2DFDB,
        '200': #80CBC4,
        '300': #4DB6AC,
        '400': #26A69A,
        '500': #009688,
        '600': #00897B,
        '700': #00796B,
        '800': #00695C,
        '900': #004D40,
        'A100': #A7FFEB,
        'A200': #64FFDA,
        'A400': #1DE9B6,
        'A700': #00BFA5,
    ),

    //green
    'green': (
        '50': #E8F5E9,
        '100': #C8E6C9,
        '200': #A5D6A7,
        '300': #81C784,
        '400': #66BB6A,
        '500': #4CAF50,
        '600': #43A047,
        '700': #388E3C,
        '800': #2E7D32,
        '900': #1B5E20,
        'A100': #B9F6CA,
        'A200': #69F0AE,
        'A400': #00E676,
        'A700': #00C853,
    ),

    //light-green
    'light-green': (
        '50': #F1F8E9,
        '100': #DCEDC8,
        '200': #C5E1A5,
        '300': #AED581,
        '400': #9CCC65,
        '500': #8BC34A,
        '600': #7CB342,
        '700': #689F38,
        '800': #558B2F,
        '900': #33691E,
        'A100': #CCFF90,
        'A200': #B2FF59,
        'A400': #76FF03,
        'A700': #64DD17,
    ),

    //lime
    'lime': (
        '50': #F9FBE7,
        '100': #F0F4C3,
        '200': #E6EE9C,
        '300': #DCE775,
        '400': #D4E157,
        '500': #CDDC39,
        '600': #C0CA33,
        '700': #AFB42B,
        '800': #9E9D24,
        '900': #827717,
        'A100': #F4FF81,
        'A200': #EEFF41,
        'A400': #C6FF00,
        'A700': #AEEA00,
    ),

    //yellow
    'yellow': (
        '50': #FFFDE7,
        '100': #FFF9C4,
        '200': #FFF59D,
        '300': #FFF176,
        '400': #FFEE58,
        '500': #FFEB3B,
        '600': #FDD835,
        '700': #FBC02D,
        '800': #F9A825,
        '900': #F57F17,
        'A100': #FFFF8D,
        'A200': #FFFF00,
        'A400': #FFEA00,
        'A700': #FFD600,
    ),

    //amber
    'amber': (
        '50': #FFF8E1,
        '100': #FFECB3,
        '200': #FFE082,
        '300': #FFD54F,
        '400': #FFCA28,
        '500': #FFC107,
        '600': #FFB300,
        '700': #FFA000,
        '800': #FF8F00,
        '900': #FF6F00,
        'A100': #FFE57F,
        'A200': #FFD740,
        'A400': #FFC400,
        'A700': #FFAB00,
    ),

    //orange
    'orange': (
        '50': #FFF3E0,
        '100': #FFE0B2,
        '200': #FFCC80,
        '300': #FFB74D,
        '400': #FFA726,
        '500': #FF9800,
        '600': #FB8C00,
        '700': #F57C00,
        '800': #EF6C00,
        '900': #E65100,
        'A100': #FFD180,
        'A200': #FFAB40,
        'A400': #FF9100,
        'A700': #FF6D00,
    ),

    //deep-orange
    'deep-orange': (
        '50': #FBE9E7,
        '100': #FFCCBC,
        '200': #FFAB91,
        '300': #FF8A65,
        '400': #FF7043,
        '500': #FF5722,
        '600': #F4511E,
        '700': #E64A19,
        '800': #D84315,
        '900': #BF360C,
        'A100': #FF9E80,
        'A200': #FF6E40,
        'A400': #FF3D00,
        'A700': #DD2C00,
    ),

    //brown
    'brown': (
        '50': #EFEBE9,
        '100': #D7CCC8,
        '200': #BCAAA4,
        '300': #A1887F,
        '400': #8D6E63,
        '500': #795548,
        '600': #6D4C41,
        '700': #5D4037,
        '800': #4E342E,
        '900': #3E2723,
    ),

    //grey
    'grey': (
        '50': #FAFAFA,
        '100': #F5F5F5,
        '200': #EEEEEE,
        '300': #E0E0E0,
        '400': #BDBDBD,
        '500': #9E9E9E,
        '600': #757575,
        '700': #616161,
        '800': #424242,
        '900': #212121,
    ),

    //blue-grey
    'blue-grey': (
        '50': #ECEFF1,
        '100': #CFD8DC,
        '200': #B0BEC5,
        '300': #90A4AE,
        '400': #78909C,
        '500': #607D8B,
        '600': #546E7A,
        '700': #455A64,
        '800': #37474F,
        '900': #263238,
    ),

    // dark text on white bg
    'dark': (
        'full': rgba(#000, 1),
        'primary': rgba(#000, 0.87),
        'secondary': rgba(#000, 0.54),
        'disabled': rgba(#000, 0.38),
        'hint': rgba(#000, 0.38),
        'icons': rgba(#000, 0.38),
        'dividers': rgba(#000, 0.12),
    ),

    // light text on black bg
    'light': (
        'full': rgba(#FFF, 1),
        'primary': rgba(#FFF, 1),
        'secondary': rgba(#FFF, 0.70),
        'disabled': rgba(#FFF, 0.50),
        'hint': rgba(#FFF, 0.50),
        'icons': rgba(#FFF, 0.50),
        'dividers': rgba(#FFF, 0.12),
    )
);

@function md-color($name: 'red', $variant: '500') {
    @return map-get(map-get($md-palette, $name), $variant);
    //@return map-get($md-colors, #{name}-#{$key});
}
