@charset "UTF-8";

@use "sass:math";

@import "node_modules/bootstrap/scss/functions";
/*$enable-caret: false;*/
@import "node_modules/bootstrap/scss/variables";


@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

// Layout & components
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/accordion";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/toasts";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/offcanvas";
@import "node_modules/bootstrap/scss/placeholders";

// Helpers
@import "node_modules/bootstrap/scss/helpers";

// Utilities
@import "node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack


// Add navbar-expand breakpoint vars
:root {
    @each $name, $value in $grid-breakpoints {
        @if $name != 'xs' {
            --p3-bs-navbar-expand-#{$name}: #{$value};
        }
    }
}

$navbar-breakpoint: map-get($grid-breakpoints, 'sm');

$navbar-bg: $black; //#2c3840; //darken($primary, 0 * $theme-color-interval); //$md-indigo-800;
$navbar-bg-hover: $gray-900; //lighten($navbar-bg, $theme-color-interval/2);//$md-indigo-600;
$navbar-bg-active: $gray-800; //$md-indigo-600;
$navbar-transition: all .2s ease-in-out;
$navbar-dropdown-menu-has-transition-expanded: false;
$navbar-dropdown-menu-has-transition-collapsed: true;
$navbar-dropdown-menu-transition-max-height-factor: 10;
$navbar-dropdown-menu-transition-max-height: $navbar-dropdown-menu-transition-max-height-factor * 1024px;
$navbar-dropdown-menu-transition-duration: 0.2s;
$navbar-dropdown-menu-transition-duration-expanded: $navbar-dropdown-menu-transition-duration;
$navbar-dropdown-menu-transition-duration-collapsed: 2*$navbar-dropdown-menu-transition-duration-expanded;
$navbar-dropdown-menu-transition-show-expanded: max-height $navbar-dropdown-menu-transition-max-height-factor*$navbar-dropdown-menu-transition-duration-expanded ease-in-out;
$navbar-dropdown-menu-transition-show-collapsed: max-height $navbar-dropdown-menu-transition-max-height-factor*$navbar-dropdown-menu-transition-duration-collapsed ease-in-out;
$navbar-dropdown-menu-transition-hide: none; //max-height $navbar-dropdown-menu-transition-max-height-factor*$navbar-dropdown-menu-transition-duration-expanded linear;

$navbar-dropdown-menu-bg: $navbar-bg; //$md-indigo-800; //$gray-900;
$navbar-dropdown-menu-bg-hover: $navbar-bg-hover; //darken($md-indigo-900, 0%); //$md-indigo-800; //$black;
$navbar-dropdown-menu-bg-active: $navbar-bg-active; //$md-indigo-700; //$gray-900;

$navbar-dropdown-menu-has-transition-both: $navbar-dropdown-menu-has-transition-expanded and $navbar-dropdown-menu-has-transition-collapsed;

.navbar {
    //background: $navbar-bg !important;
}


@mixin navbar-dropdown-menu-transition-common {
    display: block !important;
    max-height: 0;
    overflow: hidden;
    &.show {
        max-height: $navbar-dropdown-menu-transition-max-height;
    }
}

.navbar-nav {
    .dropdown-menu {
        /*background: $navbar-dropdown-menu-bg;*/
        /*border: 0;*/
        /*border-radius: 0;*/

        // transition [---------------------------------------------------------
        @if $navbar-dropdown-menu-has-transition-both {
            @include navbar-dropdown-menu-transition-common;
        }
        // transition ---------------------------------------------------------]

        .dropdown-item {
            /*white-space: normal;*/
            /*background: transparent;*/
            /*color: $navbar-dark-hover-color;*/
            /*text-transform: uppercase;*/
            /*font-size: .8125rem;; //$font-size-sm;*/
            &:hover, &focus {
                /*color: $navbar-dark-active-color;*/
                /*background: $navbar-dropdown-menu-bg-hover;*/
            }
            &:active {
                /*color: $navbar-dark-active-color;*/
            }
        }
    }

    a {
        /*font-size: .8125rem; //$font-size-sm;*/
    }
}

.nav-item-text {
    /*text-transform: uppercase;*/
    /*font-size: .8125rem; //$font-size-sm;*/
}

.dropdown-menu {
}

@media (max-width: $navbar-breakpoint - 1px) {
    $bg-color: rgba(#fff, 0.066);
    $bg-color-hover: rgba(#fff, 0.022);
    $item-line-height: 45px;
    .navbar-nav {
        li {
            position: relative;
            background: $bg-color !important;
            margin-bottom: 1px;
            > a, .dropdown-item {
                //padding: $dropdown-item-padding-y $dropdown-item-padding-x !important;
                padding: 0 $dropdown-item-padding-x !important;
                line-height: $item-line-height !important;
                background: transparent !important;
                &:hover, &focus {
                    color: $navbar-dark-active-color;
                    background: $bg-color-hover !important;
                }
            }
            a {
            }
            .caret {
                position: absolute;
                right: 0;
                left: auto;
                top: 0;
                background: $bg-color-hover;
                width: 54px;
                height: $item-line-height;
                line-height: $item-line-height;
                text-align: center;
                vertical-align: middle;
                &:hover, &focus {
                    /*color: $navbar-dark-active-color;*/
                    /*background: $bg-color !important;*/
                }
                &:before {
                    /*content: $mdi-plus !important;*/
                }
            }
            &.show > a > .caret {
                /*background: $bg-color !important;*/
                &:before {
                    /*content: $mdi-minus !important;*/
                }
            }
        }
            &.dropdown {
                margin-bottom: 0;
            }
        .dropdown-menu {
            background: transparent !important;
            margin-bottom: 0;
            /*margin-top: -1px;*/
            padding: 0;

            // transition [-----------------------------------------------------
            @if $navbar-dropdown-menu-has-transition-collapsed {
                @if not $navbar-dropdown-menu-has-transition-both {
                    @include navbar-dropdown-menu-transition-common;
                }
                &.show {
                    transition: $navbar-dropdown-menu-transition-show-collapsed;
                }
            }
            // transition -----------------------------------------------------]

            > li {
                display: block;
            }
            > li:last-child {
                margin-bottom: 0;
            }
        }

        .dropdown-toggle {
            position: relative;
            &:before,
            &:after {
                /*display: none;*/
                position: absolute;
                right: calc(28px - .3em);
                top: calc(50% - .15em);
            }
            &.show {
                &:before,
                &:after {
                    top: calc(50% - .3em);
                    transform: rotateZ(180deg)
                }
            }
        }

    }
}

@media (min-width: $navbar-breakpoint) {
    .navbar-nav {
        a {
            transition: $navbar-transition;
        }
        .dropdown-menu {
            /*border: 0;*/
            /*background: $gray-200;*/
            .dropdown-menu {
                margin-top: -1*$dropdown-padding-y;
            }
        }
        .nav-item {
            &.has-link {
                display: flex;
                justify-content: space-between;
                align-content: center;
                > .nav-caret {
                    margin-left: -.5rem;
                    /*padding: 0 0.25rem;*/
                    /*vertical-align: middle;*/
                    padding-left: 0.25rem;
                    padding-right: 0.25rem;
                    /*display: flex !important;*/
                    /*display: flex !important;*/
                    /*align-content: center !important;*/
                    /*align-self: stretch;*/
                    /*line-height: 100%;*/
                    > .text-caret {
                        /*vertical-align: middle;*/
                        /*display: inline-flex;*/
                        /*vertical-align: middle;*/
                    }
                }
            }
        }
        .dropdown {
            .dropdown-toggle {
                &:focus {
                    outline: none;
                }
            }
        }
        .dropdown-menu {
            max-width: 1.25*$dropdown-min-width;

            // transition [-----------------------------------------------------
            @if $navbar-dropdown-menu-has-transition-expanded {
                @if not $navbar-dropdown-menu-has-transition-both {
                    @include navbar-dropdown-menu-transition-common;
                }
                /*transition: $navbar-transition;*/
                &.show {
                    overflow: visible;
                    transition: $navbar-dropdown-menu-transition-show-expanded;
                }
            }
            // transition -----------------------------------------------------]

        }

        .dropend > .dropdown-menu[data-bs-popper] {
            margin-left: 0;
            [dir="rtl"] & {
                margin-right: 0;
            }
        }
        .dropstart > .dropdown-menu[data-bs-popper] {
            margin-right: 0;
            [dir="rtl"] & {
                margin-left: 0;
            }
        }

        .dropend > .dropdown-menu[data-bs-popper] {
            left: 100%;
            right: auto;
            [dir="rtl"] & {
                left: auto;
                right: 100%;
            }
        }
        .dropstart > .dropdown-menu[data-bs-popper] {
            left: auto;
            right: 100%;
            [dir="rtl"] & {
                left: 100%;
                right: auto;
            }
        }

        @if $enable-caret {
            // hide custom caret
            .caret {
                display: none;
            }

            .dropend > .dropdown-item:before,
            .dropstart > .dropdown-item:after {
                display: none;
            }

            //$caret-width: 17px; // ONLY SET FOR CUSTOM ICONS

            .dropdown-item:after,
            .dropdown-item:before {
                /*color: rgba(255,255,255, 0.5);*/
                display: inline-block;
                position: absolute;
                margin: 0;
                top: calc(50% - #{$caret-width});
                /*vertical-align: middle;*/
                /*display: none;*/
                right: calc(#{($dropdown-item-padding-x / 2)} - #{($caret-width / 2)});
                left: auto;
                [dir="rtl"] & {
                    left: calc(#{($dropdown-item-padding-x / 2)} - #{($caret-width / 2)});
                    right: auto;
                }
            }
        }

        //.dropstart > .dropdown-item:before {
        //    left: calc(#{$dropdown-item-padding-x}/2 - #{$caret-width}/2);
        //    right: auto;
        //}

//        // CUSTOM ICONS
//        .dropend > .dropdown-item:after,
//        .dropstart > .dropdown-item:before {
//            @include p3im-mdi;
//            border: 0;
//            margin: 0;
//            font-size: $caret-width;
//            line-height: $caret-width;
//            height: $caret-width;
//            width: $caret-width;
//        }
//        .dropend > .dropdown-item:after {
//            content: $mdi-chevron-double-right;
//        }
//        .dropstart > .dropdown-item:before {
//            content: $mdi-chevron-double-left;
//        }
/*        .dropstart {
            .dropdown-toggle {
                &:before {
                    display: none;
                    position: absolute;
                    top: calc(50% - #{$caret-width});
                    left: calc(#{$dropdown-item-padding-x}/2 - #{$caret-width}/2);
                    margin: 0;
                    transform: translateX(calc(#{-$dropdown-item-padding-x}/2 - #{$caret-width}/2));
                    margin-right: -$caret-width;
                    left: ;
                }
            }
        }*/
    }
}

//@media (min-width: $navbar-breakpoint + 20000px) {
//    .dropdown-menu {
//        .dropdown {
//            > .dropdown-menu {
//                top: 0;
//                margin-top: 0px;
//                margin-left: 0px;
//                left: 100%;
//            }
//            &.dropdown-left {
//                > .dropdown-menu {
//                    left: -100%;
//                }
//            }
//        }
//    }
//};
