@charset "UTF-8";

@use "sass:math";

// scss-docs-start import-stack
@import "node_modules/bootstrap/scss/functions";
//==============================================================================
// CUSTOM VARS before bootstrap defaults
//==============================================================================
@import "p3-md-colors";
//------------------------------------------------------------------------------
// scss-docs-start caret-variables
//$caret-width:                 .3125em !default;
/*$caret-width:                 .25em;*/
//$caret-vertical-align:        middle; //$caret-width * .85 !default;
//$caret-spacing:               $caret-width * .85 !default;
// scss-docs-end caret-variables
//------------------------------------------------------------------------------
/*@import "p3-bs-variables";*/
//==============================================================================

@import "node_modules/bootstrap/scss/variables";

@import "node_modules/bootstrap/scss/maps";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

//// Layout & components
//@import "node_modules/bootstrap/scss/root";
//@import "node_modules/bootstrap/scss/reboot";
//@import "node_modules/bootstrap/scss/type";
//@import "node_modules/bootstrap/scss/images";
//@import "node_modules/bootstrap/scss/containers";
//@import "node_modules/bootstrap/scss/grid";
//@import "node_modules/bootstrap/scss/tables";
//@import "node_modules/bootstrap/scss/forms";
//@import "node_modules/bootstrap/scss/buttons";
//@import "node_modules/bootstrap/scss/transitions";
//@import "node_modules/bootstrap/scss/dropdown";
//@import "node_modules/bootstrap/scss/button-group";
//@import "node_modules/bootstrap/scss/nav";
//@import "node_modules/bootstrap/scss/navbar";
//@import "node_modules/bootstrap/scss/card";
//@import "node_modules/bootstrap/scss/accordion";
//@import "node_modules/bootstrap/scss/breadcrumb";
//@import "node_modules/bootstrap/scss/pagination";
//@import "node_modules/bootstrap/scss/badge";
//@import "node_modules/bootstrap/scss/alert";
//@import "node_modules/bootstrap/scss/progress";
//@import "node_modules/bootstrap/scss/list-group";
//@import "node_modules/bootstrap/scss/close";
//@import "node_modules/bootstrap/scss/toasts";
//@import "node_modules/bootstrap/scss/modal";
//@import "node_modules/bootstrap/scss/tooltip";
//@import "node_modules/bootstrap/scss/popover";
//@import "node_modules/bootstrap/scss/carousel";
//@import "node_modules/bootstrap/scss/spinners";
//@import "node_modules/bootstrap/scss/offcanvas";
//@import "node_modules/bootstrap/scss/placeholders";
//
//// Helpers
//@import "node_modules/bootstrap/scss/helpers";
//
//// Utilities
//@import "node_modules/bootstrap/scss/utilities/api";
//// scss-docs-end import-stack
//

// Add navbar-expand breakpoint css vars so we can extrapolate the value from JS
:root {
    @each $name, $value in $grid-breakpoints {
        @if $name != 'xs' {
            --p3-bs-navbar-expand-#{$name}: #{$value};
        }
    }
}

// Use the same breakpoint value used in the HTML code (es. `md` for `navbar-expand-md`)
$nb-breakpoint: md;
$nb-breakpoint-px: map-get($grid-breakpoints, $nb-breakpoint);

//$nb-bg: $black; //#2c3840; //darken($primary, 0 * $theme-color-interval); //$md-indigo-800;
//$nb-bg-hover: $gray-900; //lighten($nb-bg, $theme-color-interval/2);//$md-indigo-600;
//$nb-bg-active: $gray-800; //$md-indigo-600;
$nb-transition: all .2s linear;
$nb-dropdown-menu-has-transition: true;
$nb-dropdown-menu-transition-max-height-factor: 10;
$nb-dropdown-menu-transition-max-height: $nb-dropdown-menu-transition-max-height-factor * 1024px;
$nb-dropdown-menu-transition-duration: 0.2s;
$nb-dropdown-menu-transition-show: max-height $nb-dropdown-menu-transition-max-height-factor*$nb-dropdown-menu-transition-duration ease-in-out;
//$nb-dropdown-menu-transition-hide: max-height $nb-dropdown-menu-transition-duration linear;

//$nb-dropdown-menu-bg: $nb-bg; //$md-indigo-800; //$gray-900;
//$nb-dropdown-menu-bg-hover: $nb-bg-hover; //darken($md-indigo-900, 0%); //$md-indigo-800; //$black;
//$nb-dropdown-menu-bg-active: $nb-bg-active; //$md-indigo-700; //$gray-900;

$nb-outline-color: rgba($primary, 0.5);
$nb-outline-width: 3px;
$nb-outline: $nb-outline-width solid $nb-outline-color !important;

$nb-collapsed-li-bg-color: rgba($white, 0.033);
$nb-collapsed-li-bg-color-hover: rgba($white, 0.02);

$nb-item-line-height: 1.5em;

$nb-toggler-icon-size: 1.5 * $navbar-toggler-font-size;
$nb-border-width: $border-width;
$nb-toggler-width: $nb-toggler-icon-size + 2*($navbar-toggler-padding-x + math.div(1, 16) * 1rem);

//------------------------------------------------------------------------------
// CARET
//------------------------------------------------------------------------------
$nb-caret-native: true;

// caret character
$nb-caret-open: "+";
$nb-caret-close: "-";
$nb-caret-left: "\01F860"; //"?";//"«";//"⮜";
$nb-caret-up: "\01F861";
$nb-caret-right: "\01F862";//"»";//"⮞";
$nb-caret-down: "\01F863";//"⮟";//"⮟";//

// caret default size
$nb-caret-font-size: 1rem;
$nb-caret-size: $nb-caret-font-size;
$nb-caret-v-width: $nb-caret-size;
$nb-caret-v-height: $nb-caret-size;
$nb-caret-h-width: $nb-caret-size;
$nb-caret-h-height: $nb-caret-size;

@if $nb-caret-native {
    // horizontal border-triangle
    $nb-caret-v-width: 2*$caret-width;
    $nb-caret-v-height: $caret-width;
    // vertical border-triangle
    $nb-caret-h-width: $nb-caret-v-height;
    $nb-caret-h-height: $nb-caret-v-width;
}

$nb-caret-h-distance: 0.25rem;
//==============================================================================

//==============================================================================
// MIXINS
//==============================================================================
@mixin navbar-dropdown-menu-transition {
    display: block !important;
    max-height: 0;
    overflow: hidden;
    &.show {
        max-height: $nb-dropdown-menu-transition-max-height;
    }
}
//==============================================================================

//==============================================================================
// STYLES: COMMON
//==============================================================================
.navbar-nav {
    .nav-link,
    .dropdown-item {
        &:focus {
            outline: 0;
        }
        &:focus-visible {
            outline: $nb-outline;
        }
        &:focus-within {
            outline: 0;
        }
    }
    .dropdown-toggle {
        @if $enable-caret {
            position: relative;
            &:after,
            &:before {
                //display: inline-block !important;
                text-align: center;
                margin: 0 !important;
                position: absolute;
                @if $nb-caret-native {
                    //
                } @else {
                    // custom content
                    border: 0 !important; // disable the original caret (triangle with border)
                    content: $nb-caret-open;
                    &.show {
                        content: $nb-caret-close;
                    }
                    transition: transform 0.2s linear;
                    //font-weight: bold;
                    font-size: $nb-caret-font-size;
                    width: $nb-caret-font-size;
                }
            }
            &.show {
                &:after,
                &:before {
                    @if not $nb-caret-native {
                        content: $nb-caret-close;
                    }
                }
            }
            // disable before caret in navbar top-links
            &.nav-link:before {
                @if $enable-caret {
                    display: none !important;
                }
            }
        }
    }
}
//==============================================================================

//==============================================================================
// STYLES: COLLAPSED NAVBAR
//==============================================================================
@media (max-width: $nb-breakpoint-px - 1px) {
    .navbar-nav {
        li {
            position: relative;
            background: $nb-collapsed-li-bg-color !important;
            border-radius: 0;
            margin-bottom: 0px;
        }
        // ALL TOP AND SUBITEMS (TOGGLE OR NOT)
        .nav-link,
        .dropdown-item {
            line-height: $nb-item-line-height !important;
            //padding: 0 $dropdown-item-padding-x !important;
            padding: 0.75*$dropdown-item-padding-x $dropdown-item-padding-x;
            padding-right: $nb-toggler-width;
            margin: 0;
            border-radius: 0;
            white-space: normal;
            background: transparent !important;
            color: $light;
            &:hover,
            &:focus {
                color: $navbar-dark-active-color;
                //background: $nb-collapsed-li-bg-color-hover !important;
            }
            &:hover {
                background: $nb-collapsed-li-bg-color-hover !important;
            }
        }
        // ALL DD MENUS
        .dropdown-menu {
            background: transparent !important;
            margin: 0 !important; // important for leftover parent drop(start|end)
            padding: 0;
            border: 0;
            border-radius: 0;
            visibility: hidden; // TAB keypresses skip hidden elements
            &.show {
                visibility: visible;
            }
            // transition
            @if $nb-dropdown-menu-has-transition {
                @include navbar-dropdown-menu-transition;
                &.show {
                    transition: $nb-dropdown-menu-transition-show;
                }
            }
            > li {
                display: block;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        // caret
        @if $enable-caret {
            // ALL TOP AND SUB TOGGLE ITEMS
            .dropdown-toggle {
                &:before {
                    display: none!important;
                }
                &:after {
                    left: auto;
                    right: calc($nb-toggler-width/2 - $nb-caret-v-width/2);
                    @if $nb-caret-native {
                        top: calc(50% - $nb-caret-v-height/2);
                        @include caret-down; // add this for accidental parent drop()start|end) leftover
                    } @else {
                        // custom content
                        border: 0 !important; // disable the original caret (triangle with border)
                        content: $nb-caret-down or $nb-caret-open; //"﹀"; //"»"; // "⮞";
                        //transform: rotateZ(270deg);
                        transition: transform 0.2s linear;
                        font-weight: bold;
                    }
                }
                &.show {
                    &:before,
                    &:after {
                        transition: transform $nb-dropdown-menu-transition-duration linear;
                        @if $nb-caret-native {
                            transform: rotateZ(180deg);
                            //@include caret-up;
                        } @else {
                            content: $nb-caret-up or $nb-caret-down or $nb-caret-close; // "⮞";
                            transform: rotateZ(180deg);
                        }
                    }
                }
            }
        }
    }
}
//==============================================================================

//==============================================================================
// STYLES: EXPANDED NAVBAR
//==============================================================================
@media (min-width: $nb-breakpoint-px) {
    .navbar-nav {
        .dropdown-menu {
            max-width: 1.25*$dropdown-min-width;
            // nested menus
            .dropdown-menu {
                margin-top: -1*$dropdown-padding-y;
            }
        }
        // set dropdown-menu direction based on dropstart|dropend set via js
        .dropend > .dropdown-menu[data-bs-popper] {
            left: 100%;
            right: auto;
            margin-left: 0;
        }
        .dropstart > .dropdown-menu[data-bs-popper] {
            left: auto;
            right: 100%;
            margin-right: 0;
        }

        @if $enable-caret {
            .dropdown-toggle {
                // ROOT LINKS (nav-link)
                .navbar-expand-#{$nb-breakpoint} &.nav-link {
                    $dropdown-toggle-padding-end: calc(1.75*$navbar-nav-link-padding-x + $nb-caret-v-width);
                    padding-right: $dropdown-toggle-padding-end;
                    &:before {
                        display: none;
                    }
                    &:after {
                        left: auto;
                        right: $navbar-nav-link-padding-x;
                        @if $nb-caret-native {
                            top: calc(50% - $nb-caret-v-height/2);
                        } @else {
                            content: $nb-caret-down or $nb-caret-open;
                        }
                    }
                    &.show {
                        &:after {
                            @if $nb-caret-native {
                                transform: rotate(180deg);
                            } @else {
                                content: $nb-caret-up or $nb-caret-close;
                            }
                        }
                    }
                }
                // SUBMENU LINKS
                &.dropdown-item {
                    @if not $nb-caret-native {
                        &:before {
                            content: $nb-caret-left or $nb-caret-open;
                        }
                        &:after {
                            content: $nb-caret-right or $nb-caret-open;
                        }
                    }
                    &:after,
                    &:before {
                        @if $nb-caret-native {
                            $nb-caret-h-distance: calc(#{math.div($dropdown-item-padding-x, 2)} - #{$nb-caret-h-width});
                            top: calc(50% - $nb-caret-h-height/2);
                        } else {
                            //top: ;
                        }
                        left: auto;
                        right: $nb-caret-h-distance;
                    }
                }
            }
            // we need to inspect parent drop(start|end)
            .dropend > .dropdown-item::after,
            .dropstart > .dropdown-item::before {
                display: inline-block !important;
            }
            .dropend > .dropdown-item::before,
            .dropstart > .dropdown-item::after {
                display: none !important;
            }
        }
    }
}
//==============================================================================
