@charset "UTF-8";

@use "sass:math";

@import "node_modules/bootstrap/scss/functions";

//==============================================================================
// CUSTOM VARS before bootstrap defaults
//==============================================================================
@import "_variables";
@import "_mixins";
//==============================================================================

//==============================================================================
// Add navbar-expand breakpoint css vars so we can extrapolate the value from JS
//==============================================================================
:root {
    @each $name, $value in $nb-breakpoints {
        @if $name != 'xs' {
            --p3-bs-navbar-expand-#{$name}: #{$value};
        }
    }
}
//==============================================================================

//==============================================================================
// COMMON styles
//==============================================================================
.navbar-nav {
    .dropdown-toggle {
        @if $enable-caret {
            position: relative;
            &:after,
            &:before {
                text-align: center;
                margin: 0 !important;
                position: absolute;
            }
            // Disable before caret in navbar top-links
            &.nav-link {
                &:before {
                    @if $enable-caret {
                        display: none !important;
                    }
                }
            }
        }
    }
}
//==============================================================================

//==============================================================================
// COLLAPSED NAVBAR styles
//==============================================================================
@each $breakpoint in map-keys($nb-breakpoints) {
    $next: breakpoint-next($breakpoint, $nb-breakpoints);
    $infix: breakpoint-infix($next, $nb-breakpoints);

    @include media-breakpoint-down($next) {
        .navbar-expand#{$infix} {
            .navbar-nav {
                li {
                    position: relative;
                    border-radius: 0;
                    margin-bottom: 0;
                }
                // ALL TOP AND SUBITEMS (TOGGLE OR NOT)
                .nav-link,
                .dropdown-item {
                    line-height: $nb-item-line-height !important;
                    padding: 0.75*$dropdown-item-padding-x $dropdown-item-padding-x;
                    padding-right: $nb-toggler-width;
                    margin: 0;
                    border-radius: 0;
                    white-space: normal;
                    &:hover,
                    &:focus {
                        background: transparent;
                    }
                }
                // ALL DD MENUS
                .dropdown-menu {
                    //background: transparent;
                    margin: 0 !important; // important for leftover parent drop(start|end)
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    visibility: hidden; // TAB keypresses skip hidden elements
                    &.show {
                        visibility: visible;
                    }
                    // transition
                    @if $nb-dropdown-menu-has-transition {
                        @include navbar-dropdown-menu-transition;
                    }
                    > li {
                        display: block;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    .dropdown-menu {
                        //margin-left: 1rem !important;
                    }
                }

                // caret
                @if $enable-caret {
                    // ALL TOP AND SUB TOGGLE ITEMS
                    .dropdown-toggle {
                        &:before {
                            display: none!important;
                        }
                        &:after {
                            left: auto;
                            @include nb-caret($nb-caret-collapse-dir);
                            @include nb-caret-end($nb-caret-collapse-dir);
                            @include nb-caret-top($nb-caret-collapse-dir);
                        }
                        &.show {
                            &:after {
                                @if $nb-caret-collapse-rotation {
                                    transform: rotateZ($nb-caret-collapse-rotation);
                                    @if $nb-caret-animate {
                                        transition: transform $nb-transition-duration linear;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &[data-bs-theme="dark"],
            &.navbar-dark {
                .navbar-nav {
                    .nav-link,
                    .dropdown-item {
                        color: $gray-300;
                        background: transparent;
                        &:hover {
                            color: $gray-200;
                        }
                        &:focus {
                            color: $gray-100;
                        }
                        &:focus-visible {
                            outline: 0;
                        }
                    }
                    .dropdown-menu {
                        background: transparent;
                        .dropdown-item {
                            &:focus-visible {
                                //background: $dropdown-link-active-bg;
                                background: $nb-navbar-dark-collapsed-li-bg-color;
                            }
                        }
                        li,
                        .dropdown-menu {
                            background: transparent;
                        }
                    }
                }
            }
            
            &[data-bs-theme="light"],
            &.navbar-light {
                .navbar-nav {
                    .nav-link,
                    .dropdown-item {
                        color: $gray-700;
                        background: transparent;
                        &:hover {
                            color: $gray-800;
                        }
                        &:focus {
                            color: $gray-900;
                        }
                        &:focus-visible {
                            outline: 0;
                        }
                    }
                    .dropdown-menu {
                        background: transparent;
                        .dropdown-item {
                            &:focus-visible {
                                //background: $dropdown-link-active-bg;
                                background: $nb-navbar-light-collapsed-li-bg-color;
                            }
                        }
                        li,
                        .dropdown-menu {
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
}
//==============================================================================

//==============================================================================
// EXPANDED NAVBAR styles
//==============================================================================
@each $breakpoint in map-keys($nb-breakpoints) {
    $next: breakpoint-next($breakpoint, $nb-breakpoints);
    $infix: breakpoint-infix($next, $nb-breakpoints);

    @include media-breakpoint-up($next) {
        .navbar-expand#{$infix} {
            .navbar-nav {
                .dropdown-menu {
                    max-width: 1.25*$dropdown-min-width;
                    // nested dd-menus
                    .dropdown-menu {
                        margin-top: -1*$dropdown-padding-y;
                    }
                }
                // Set dropdown-menu direction based on dropstart|dropend class set via js
                .dropend > .dropdown-menu[data-bs-popper] {
                    left: 100%;
                    right: auto;
                    margin-left: 0;
                }
                .dropstart > .dropdown-menu[data-bs-popper] {
                    left: auto;
                    right: 100%;
                    margin-right: 0;
                }

                @if $enable-caret {
                    .dropdown-toggle {
                        // ROOT LINKS (nav-link)
                        //.navbar-expand-#{$nb-breakpoint} &.nav-link {
                        &.nav-link {
                            $dropdown-toggle-padding-end: calc(1.75*$navbar-nav-link-padding-x + $nb-caret-v-width);
                            padding-right: $dropdown-toggle-padding-end;
                            &:after {
                                left: auto;
                                right: $navbar-nav-link-padding-x;                                    
                                @include nb-caret-top($nb-caret-dir);
                            }
                            &.show {
                                &:after {
                                    @if $nb-caret-rotation {
                                        transform: rotateZ(#{$nb-caret-rotation});
                                        @if $nb-caret-animate {
                                            transition: transform $nb-transition-duration linear;
                                        }
                                    }
                                }
                            }
                        }
                        // SUBMENU LINKS
                        &.dropdown-item {
                            &:before {
                                @include caret-start;
                            }
                            &:after {
                                @include caret-end;
                            }
                            &:after,
                            &:before {
                                $nb-caret-h-distance: calc(#{math.div($dropdown-item-padding-x, 2)} - #{$nb-caret-h-width});
                                top: calc(50% - $nb-caret-h-height/2);
                                left: auto;
                                right: $nb-caret-h-distance;
                            }
                        }
                    }
                    // Inspect parent drop(start|end) to decide which caret is shown
                    .dropend > .dropdown-item::after,
                    .dropstart > .dropdown-item::before {
                        display: inline-block !important;
                    }
                    .dropend > .dropdown-item::before,
                    .dropstart > .dropdown-item::after {
                        display: none !important;
                    }
                }
            }
        }
    }
}
//==============================================================================
