@charset "UTF-8";

@use "sass:math";

@import "node_modules/bootstrap/scss/functions";

//==============================================================================
// IMPORT variables and mixins
//==============================================================================
@import "_variables";
@import "_mixins";
//==============================================================================

//==============================================================================
// LOCAL VARS
//==============================================================================
$nb-navbar-dark-collapsed-blend-bg-color:  rgba($white, 0.030);
$nb-navbar-light-collapsed-blend-bg-color: rgba($black, 0.015);
//==============================================================================

//==============================================================================
// COLLAPSED NAVBAR styles
//==============================================================================
@each $breakpoint in map-keys($nb-breakpoints) {
    $next: breakpoint-next($breakpoint, $nb-breakpoints);
    $infix: breakpoint-infix($next, $nb-breakpoints);

    @include media-breakpoint-down($next) {
        .navbar-expand#{$infix} {

            &[data-bs-theme="dark"],
            &.navbar-dark {
                .navbar-nav {
                    .nav-link,
                    .dropdown-item {
                        color: $gray-300;
                        &:hover {
                            color: $gray-200;
                        }
                        &:focus {
                            color: $gray-100;
                        }
                        &:focus-visible {
                            outline: 0;
                        }
                        background: transparent;
                        &.dropdown-toggle.show {
                            background: $nb-navbar-dark-collapsed-blend-bg-color !important;
                        }
                    }
                    .dropdown-menu {
                        background: $nb-navbar-dark-collapsed-blend-bg-color !important;
                        li {
                            background: transparent;
                        }
                        .dropdown-item {
                            &:focus-visible {
                                //background: $dropdown-link-active-bg;
                                background: $nb-navbar-dark-collapsed-blend-bg-color;
                            }
                        }
                    }
                }
            }
            
            &[data-bs-theme="light"],
            &.navbar-light {
                .navbar-nav {
                    .nav-link,
                    .dropdown-item {
                        color: $gray-700;
                        &:hover {
                            color: $gray-800;
                        }
                        &:focus {
                            color: $gray-900;
                        }
                        &:focus-visible {
                            outline: 0;
                        }
                        background: transparent;
                        &.dropdown-toggle.show {
                            background: $nb-navbar-light-collapsed-blend-bg-color !important;
                        }
                    }
                    .dropdown-menu {
                        background: $nb-navbar-light-collapsed-blend-bg-color !important;
                        li {
                            background: transparent;
                        }
                        .dropdown-item {
                            &:focus-visible {
                                //background: $dropdown-link-active-bg;
                                background: $nb-navbar-light-collapsed-blend-bg-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
//==============================================================================
